#logo{
  width: 75%;
}

#listGroup{
  margin: 5%;
}

#logoPanier{
  width: 95%;
  height: 80%;
}
#btnPanier1{
  width: 70px;
  height: 70px;
  border-radius: 35px;
  position: fixed;
  margin-top: 5%;
}
.produitPanier{
  width: 10%;
}
#moins1{
  margin-left: 8.5%;
}
#moins2{
  margin-left: 12%;
}
#moins4{
  margin-left: 18%;
}
#moins5{
  margin-left: 7%;
}
#moins6{
  margin-left: 15.5%;
}
#moins7{
  margin-left: 3%;
}
#moins8{
  margin-left: 9%;
}
#moins10{
  margin-left: 1.5%;
}
#moins11{
  margin-left: 2.5%;
}
input {
  text-align: center;
  width: 20%;
}
